#nav {
    margin: 0px;
    margin-bottom: 10px;
    z-index: 999;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 8px;
}

#li {
    margin: auto;
    color: white;
    font-size: 22px;
    cursor: pointer;

}

#li::after {
    display: block;

}

#li:hover::after {
    transform: scaleX(1);
}